@import '../../../assets/variables.module.scss';

.modal-open-button {
    padding: 13px 20px;
    color: white;
    background: $primary;
    transition: 0.2s;
    width: fit-content;
    margin-left: auto;
    margin-bottom: 20px;

    &:hover {
        cursor: pointer;
        opacity: 0.8;
    }
}
