@import '../../../../assets/variables.module.scss';
.third-screen-wrapper {
    width: 100%;
    position: relative;

    .third-fullpage-projects {
        min-height: 850px;

        @media screen and (max-width: #{$mobile-l}) {
            height: 600px;
        }

        .text-block {
            width: 500px;
            //height: 300px;
            border: 12px solid #c9643b94;

            margin-top: 70px;

            @media screen and (max-height: 800px) {
                margin-top: 20px;
            }

            @media screen and (max-width: #{$mobile-l}) {
                width: 80%;
                margin-left: 10px;
                margin-top: 10px;
            }

            .text {
                position: relative;
                top: 0px;
                left: 100px;

                padding: 10px;
                width: 800px;
                z-index: 1;

                font-size: 16px;
                font-weight: 500;
                line-height: 20px;

                > *:not(:last-child) {
                    margin-bottom: 10px;
                }

                @media screen and (max-width: #{$laptop-s}) {
                    margin-top: 20px;
                    left: 10px;
                }

                @media screen and (max-width: #{$tablet-m}) {
                    width: 600px;

                    font-size: 14px;
                    line-height: 20px;
                    left: 0px;
                }

                @media screen and (max-width: #{$mobile-l}) {
                    top: -15px;
                    left: -15px;
                    width: 130%;
                }
            }
        }

        .back-title {
            font-size: 220px;
            color: $primary;
            position: absolute;
            top: 10%;
            left: -50px;
            font-weight: 500;
            opacity: 0.3;
            z-index: 0;
        }

        .image-block {
            position: relative;
            left: 234px;
            height: 500px;
            width: 70%;
            z-index: 2;

            @media screen and (max-height: 800px) {
                height: 400px;
            }

            @media screen and (max-height: 700px) {
                height: 300px;
            }

            @media screen and (max-height: 600px) {
                display: none;
            }

            @media screen and (max-width: 450px) {
                display: none;
            }

            @media screen and (max-width: #{$mobile-l}) {
                height: 300px;
            }

            .image-block-image {
                height: 100%;
                width: 100%;

                object-fit: cover;
                object-position: center;
            }

            .image-block-title {
                position: absolute;
                bottom: -9px;
                left: 0px;
                color: black;
                font-weight: 500;
                font-size: 86px;
                line-height: 62px;
                transform-origin: bottom left;
                transform: rotate(-90deg);

                @media screen and (max-height: 800px) {
                    font-size: 69px;
                    line-height: 50px;
                }

                @media screen and (max-height: 700px) {
                    font-size: 51.5px;
                    line-height: 37px;
                    bottom: -5px;
                }

                @media screen and (max-width: #{$mobile-l}) {
                    left: 37px;
                }
            }
        }
    }
}
