@import '../../assets/variables.module.scss';

.main-page-background {
    background: #e44d26; /* fallback for old browsers */
    background: -webkit-linear-gradient(
        to right,
        #f16529,
        #e44d26
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
        to right,
        #f16529,
        #e44d26
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    .background-image {
        height: 100%;
        width: 100%;
        object-fit: cover;
        object-position: center;
    }
}

.home-full-page {
    @media screen and (max-width: #{$mobile-l}) {
        height: calc(100vh - 228px);
    }
}
