@import '../../../assets/variables.module.scss';

.soft-block-title {
    font-size: 100px;
    font-weight: 700;

    box-shadow: inset 89px 0px 0px 0px $secondary;
    padding-left: 15px;
    margin-bottom: 40px;

    @media screen and (max-width: #{$laptop-b}) {
        padding-left: 5px;
        font-size: 60px;
        box-shadow: inset 56px 0px 0px 0px $secondary;
    }

    @media screen and (max-width: #{$mobile-l}) {
        font-size: 40px;
        box-shadow: inset 42px 0px 0px 0px $secondary;
    }
}

.soft-block-wrapper {
    position: relative;
    justify-content: flex-start;
    padding: 20px 0;

    @media screen and (max-width: #{$laptop-s}) {
        height: unset;
        min-height: unset;
    }

    .soft-block-padded {
        height: 100%;

        @media screen and (max-width: #{$laptop-m}) {
            position: relative;
        }

        @media screen and (max-width: #{$laptop-s}) {
            padding: 10px;
        }

        .soft-plain-text {
            font-size: 24px;
            line-height: 1.34;
            margin-bottom: 40px;

            a {
                font-weight: 500;
            }

            @media screen and (max-width: #{$laptop-b}) {
                font-size: 18px;
                margin-bottom: 25px;
            }

            @media screen and (max-width: #{$tablet-m}) {
                margin-top: 0;
            }

            @media screen and (max-width: #{$mobile-l}) {
                font-size: 14px;
            }
        }

        .soft-items-wrapper {
            display: flex;
            flex-wrap: wrap;

            @media screen and (max-width: #{$mobile-m}) {
                flex-wrap: wrap;
            }

            .soft-item {
                width: calc(100% / 3);
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: 0 10px;
                margin-bottom: 50px;

                @media screen and (max-width: #{$laptop-b}) {
                    width: calc(100% / 2);
                }

                @media screen and (max-width: #{$mobile-l}) {
                    width: 100%;
                    align-items: flex-start;
                    padding: 0;
                }

                .logo {
                    width: 80%;
                    margin-bottom: 30px;

                    @media screen and (max-width: #{$mobile-l}) {
                        width: unset;
                        height: 40px;
                    }
                }

                .title {
                    font-weight: 500;
                    width: 100%;
                    text-align: center;
                    font-size: 18px;
                    margin-bottom: 15px;
                    &:hover {
                        cursor: pointer;
                        opacity: 0.6;
                    }

                    @media screen and (max-width: #{$mobile-l}) {
                        text-align: left;
                    }
                }

                .item-text {
                    width: 100%;
                    text-align: center;
                    margin-bottom: 20px;
                    height: 100%;
                    @media screen and (max-width: #{$mobile-l}) {
                        text-align: left;
                    }

                    @media screen and (max-width: #{$mobile-l}) {
                        font-size: 14px;
                    }
                }
            }
        }
        .button {
            padding: 13px 20px;
            color: white;
            background: $primary;
            transition: 0.2s;

            &:hover {
                cursor: pointer;
                opacity: 0.8;
            }
        }
    }

    .tableContainer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
    }
}

.title-container {
    display: flex;
    flex-direction: row;
    border: none;
    @media screen and (max-width: #{$mobile-s}) {
        flex-direction: column;
    }
}

.button-container {
    display: flex;
    flex-direction: row;
}

.buyIt {
    margin-right: 10px;
    text-decoration: none;
}
