@import '../../../../../assets/variables.module.scss';

.textfield_container {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}
.textfield {
    margin-bottom: 10px !important;
}
.checkbox_container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border-bottom: 1px solid black;
    padding-bottom: 30px;
    margin-bottom: 30px;
    .checkbox_wrapper {
        display: flex;
        width: 33%;
        align-items: center;
        height: 100%;
        cursor: pointer;
        @media screen and (max-width: #{$mobile-s}) {
            width: 50%;
        }
        .flag_image {
            display: inline-block;
            height: 25px;
            width: 40px;
            background-repeat: no-repeat;
        }
        .currency_name {
            display: inline;
            margin: 0;
            margin-left: 10px;
        }
    }
}

.policy_link {
    cursor: pointer;
    text-decoration: underline;
}
.text_container {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    margin-bottom: 15px;
    flex-direction: column;
    .text_field_container {
        display: flex;
        flex-direction: column;
    }
}
.send_payment {
    margin-top: 20px;
    display: block;
}

.footer {
    border: none;
    text-align: center;
    font-size: 20px;
    line-height: 21px;
    font-weight: 500;
    padding: 10px;
    background-color: $primary;
    color: white;
    cursor: pointer;
    @media screen and (max-width: #{$tablet-m}) {
        font-weight: 400;
        font-size: 16px;
    }
    .price_text {
        font-size: 20px;
        line-height: 21px;
        font-weight: 500;
        display: block;
    }

    .text {
        font-size: 11px;
        display: inline;
        overflow-wrap: unset;
    }
    .buy_text {
        font-size: 20px;
        line-height: 21px;
        font-weight: 500;
        @media screen and (max-width: #{$tablet-m}) {
            font-weight: 400;
            font-size: 16px;
        }
    }
}
