@import './../../../assets/variables.less';


.table_container{
    padding:0 20px 0 20px;
    z-index:10;
    
    .options_element{
        font-weight: 500;
        @media @tablet-m {
            font-weight: 400;
            font-size: 12px;
        }
    }
    @media screen and (max-width: 850px) {
        height: 90vh;
        overflow-y: scroll;

    }
    .title-mobile{
        @media screen and (max-width: 850px) {
            padding-top: 5px;
            align-items: flex-start;
            height: 100px;
             font-size: 40px;
        }
        @media @mobile-l{
            font-size: 26px;
        }
        @media @mobile-l{
            height: 90px;
       }
    }
    .mobile_header{
        position: relative;
        .nav_scroll{
            overflow-x: auto;
            overflow-y: hidden; 
            margin-right: 10px;
            width: calc(100%-10px);
            margin-top: -40px;

            .button_container{
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                width: 100%;
                height: 40px;
                overflow:auto;
                padding: 0 10px 0 10px;
                :last-child{
                    margin-right: 0;
                }
                .button_bar_mobile{
                    height: 40px;
                    margin-right: 10px;
                      white-space: nowrap;
                      width: 100%;
                      align-items: center;
                      border-top-left-radius: 5px;
                      border-top-right-radius: 5px;
                      @media @mobile-s{
                        font-size: 12px;
                    }
                }
            }
        }
        @media screen and (max-width: 850px) {
            position: sticky;
            top: 134px;
        }
        @media @mobile-l{
            top: 90px;
        }
    }
    
}
.buy_table{
    table-layout: fixed;
}
.head_element{
    font-weight: 500;
    font-size: 18px;
    text-align: center;
    overflow-wrap: break-word;
    @media @tablet-m {
        font-weight: 400;
        font-size: 16px; 
    }
    
}
.footer{
    border:none;
    text-align: center;
    font-size: 20px;
    line-height: 21px;
    font-weight: 500;
    padding: 10px;
    background-color: @primary;
    color: white;
    cursor: pointer;
    @media @tablet-m {
        font-weight: 400;
        font-size: 16px; 
    }
    
    .text{
        font-size: 11px;
        display: inline;
        overflow-wrap: unset;
    }
    .buy_text{
        font-size: 20px;
    line-height: 21px;
    font-weight: 500;
    @media @tablet-m {
        font-weight: 400;
        font-size: 16px; 
    }
    }
}

.hover_frame{
    top: 286px;
    position: absolute;
    // border:2px @secondary solid;
    transition: right .3s;
    border:2px @secondary solid;
    z-index:-10;
    @media @laptop-s {
        top:207px;
    }

}
.cell {
    font-size: 10px;
    @media @tablet-m{
    overflow-wrap: break-word;

    }
}
