@import './../../../../assets/variables.module.scss';
.tableBody {
    border: 2px $secondary solid;
    padding: 15px;
    gap: 10px 0px;
    display: flex;
    flex-direction: column;
    p {
        font-size: 18px;
        line-height: 1.34;
        strong {
            font-weight: bolder;
        }
    }
    .title {
        color: $primary;
        font-size: 20px;
        font-weight: 500;
        cursor: pointer;
    }
    .subTitle {
        color: $primary;
    }
    .buttonContainer {
        width: fit-content;
        margin: 5px 0;
    }
}
