@import '../../../assets/variables.less';

.modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;

  z-index: 9000;

  align-items: center;
  justify-content: center;

  background-color: rgba(0,0,0,0.8);

  display: none;
  transition: opacity 0.6s;
  pointer-events:  none;

  .modal {
    position: relative;
    background: @secondary;

    padding: 70px 20px;

    overflow: hidden;

    opacity: 0;
    transition: opacity 0.6s, transform 0.6s;
    transition-delay: 0.5s;

    transform: translate3d(0, 100px, 0);

    @media @mobile-l {
      padding: 50px 10px 30px 10px;
      height: 100%;
      width: 100%;
    }

    @media @mobile-s {
      height: 100%;
      width: 100%;

      transform: translate3d(0, 50px, 0);
    }

    .modal-close-icon {
      position: absolute;
      top: 20px;
      right: 20px;
      height: 40px;
      transition: opacity 0.2s;

      @media @mobile-s {
        top: 10px;
        right: 10px;
        height: 25px;
      }

      &:hover {
        cursor: pointer;
        opacity: 0.6;
      }
    }

    .top-black-line {
      position: absolute;
      top: 0;
      left: -25px;
      height: 50px;
      width: 70%;

      background: black;

      transform: skew(-45deg);

      @media @mobile-s {
        height: 30px;
      }
    }

    .modal-content-wrapper {
      @media @mobile-l {
        overflow-y: auto;
        height: 100%;
      }
      .modal-title {
        font-size: 30px;
        font-weight: 700;
        margin-bottom: 20px;

        @media @mobile-l {
          font-size: 22px;
          margin-bottom: 20px;
        }
      }

      .inputs-wrapper {
        display: flex;

        @media @mobile-l {
          flex-direction: column;
        }

        &:not(:last-child) {
          margin-bottom: 20px;

          @media @mobile-l {
            margin-bottom: 0px;
          }
        }

        .modal-input {
          width: 50%;

          @media @mobile-l {
            width: 100%;
            margin-bottom: 5px;
          }

          .input-title, .input {
            @media @mobile-s {
              font-size: 14px;
            }
          }

          &:not(:last-child) {
            margin-right: 30px;
          }
        }
      }

      .textarea-wrapper {
        .input-title {
          @media @mobile-s {
            font-size: 14px;
          }
        }

        .textarea {
          @media @mobile-l {
            height: 100px;
          }
        }
      }
    }
    .bottom-submit-wrapper {
      position: absolute;
      bottom: 0;
      left: -25px;
      height: 50px;
      width: calc(100% + 50px);
      display: flex;

      @media @mobile-s {
        left: -15px;
        height: 30px;
        width: calc(100% + 30px);
      }

      .bottom-black-line {
        height: 100%;
        flex-grow: 3;

        background: black;

        transform: skew(-45deg);
      }

      .submit-wrapper {
        flex-grow: 1;
        background: @primary;
        transform: skew(-45deg);

        transition: flex-grow 0.2s, background 0.2s;

        .submit-button {
          width: 100%;
          transform: skew(45deg);
          font-size: 20px;
          font-weight: 700;
          text-align: center;
          line-height: 50px;

          @media @mobile-s {
            line-height: 30px;
            font-size: 16px;
          }
        }

        &:hover {
          background: transparent;
          flex-grow: 2;
          cursor: pointer;
        }
      }
    }
  }

  &_opened {
    display: flex;
    pointer-events: all;

    .modal {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
  }
}
